#R-sidebar ul.collapsible-menu>li> :is(a, span) {
  padding-left: calc(1.3rem - var(--bpx1) * 1px);
}

:root {
  --PRIMARY-color: #bb86f7;
  --SECONDARY-color: #8e8e92;
  --ACCENT-color: #4a8bf8;

  --MAIN-TEXT-color: #ededf4;
  --MAIN-LINK-color: #bb86f7;
  --MAIN-LINK-HOVER-color: #d4b9f5;
  --MAIN-BG-color: #1a1a2e;
  --MAIN-TITLES-TEXT-color: #ededf4;

  --CODE-theme: relearn-dark;
  --CODE-BLOCK-color: #ededf4;
  --CODE-BLOCK-BG-color: #2a2a3d;
  --CODE-BLOCK-BORDER-color: #5009a8;
  --CODE-INLINE-color: #d4b9f5;
  --CODE-INLINE-BG-color: #2a2a3d;
  --CODE-INLINE-BORDER-color: #5009a8;

  --BROWSER-theme: dark;
  --MERMAID-theme: base;
  --OPENAPI-theme: dark;
  --OPENAPI-CODE-theme: obsidian;

  --MENU-HEADER-BG-color: #1a1a2e;
  --MENU-HEADER-color: #ededf4;

  --MENU-SEARCH-color: #bebec3;
  --MENU-SEARCH-BG-color: #2a2a3d;
  --MENU-SEARCH-BORDER-color: #5009a8;

  --MENU-HOME-LINK-color: #8e8e92;
  --MENU-HOME-LINK-HOVER-color: #ededf4;

  --MENU-SECTIONS-BG-color: #5009a8;
  --MENU-SECTIONS-ACTIVE-BG-color: rgba(136, 30, 249, 0.3);
  --MENU-SECTIONS-LINK-color: #ededf4;
  --MENU-SECTIONS-LINK-HOVER-color: #d4b9f5;
  --MENU-SECTION-ACTIVE-CATEGORY-color: #ededf4;
  --MENU-SECTION-SEPARATOR-color: #6b0fd4;

  --BOX-CAPTION-color: #1a1a2e;
  --BOX-BG-color: #2a2a3d;
  --BOX-TEXT-color: #ededf4;
}
